<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('welcome')}}">{{config.CONFIG_DB.brand_name}}</a>
    </div>
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{{'active' if html_class == 'post-update'}}">
          <a href="{{url_for('post_update')}}">
            <fa class="fa fa-code fa-fw"></fa> Submit Code</a>
        </li>
        <li>
          <a href="https://github.com/welovecoding/vote4code/issues" target="_blank"><span class="fa fa-fw fa-comment"></span> Feedback</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="{{'active' if html_class == 'post-update'}}">
          <a href="https://github.com/welovecoding/vote4code" target="_blank">
            <fa class="fa fa-github fa-fw"></fa> View on GitHub</a>
        </li>
        # include 'bit/user_menu.html'
      </ul>
    </nav>
  </div>
</header>
