# extends 'base.html'
# import 'macro/utils.html' as utils

# block head
  {{utils.prefetch_link(next_url)}}
# endblock

# block content
  <div class="page-header">
    <a class="pull-right btn btn-primary" href="{{url_for('comment_update')}}">
      <fa class="fa fa-plus fa-fw"></fa> Add Comment
    </a>
    <h1>{{title}}</h1>
  </div>
  <div class="table-responsive {{'hide' if not comment_dbs|count}}">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr class="text-nowrap">
          <th class="col-xs-1">{{utils.order_by_link('content', 'Content')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('post_key', 'Post')}}</th>
        </tr>
      </thead>
      <tbody>
        # for comment_db in comment_dbs
          <tr class="row-link" id="{{comment_db.key.urlsafe()}}" data-href="{{url_for('comment_view', comment_id=comment_db.key.id())}}">
            <td>{{comment_db.content}}</td>
            <td>{{comment_db.post_key.get().title if comment_db.post_key else ''}}</td>
          </tr>
        # endfor
      </tbody>
    </table>
  </div>

  {{utils.next_link(next_url)}}
# endblock
