# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils


# block content
  <div class="page-header">
    <div class="pull-right">
      <a class="btn btn-default" href="{{url_for('comment_update')}}" title="Add Comment">
        <span class="fa fa-plus fa-fw"></span>
      </a>
      <a class="btn btn-primary" href="{{url_for('comment_update', comment_id=comment_db.key.id())}}">
        <span class="fa fa-fw fa-pencil"></span> Edit
      </a>
    </div>
    <h1>
      {{utils.back_link('Back', 'comment_list')}}
      {{title}}
    </h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <th class="text-nowrap col-xs-1">Content</th>
            <td class="col-xs-11">{{comment_db.content}}</td>
          </tr>
          <tr>
            <th class="text-nowrap col-xs-1">Post</th>
            <td class="col-xs-11">{{comment_db.post_key.get().title if comment_db.post_key else ''}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
# endblock
