.post-update {
  textarea {
    font-family: @font-family-monospace;
  }
}

.post-view {
  h1 {
    margin-top: 0;
  }
  .code-split {
    padding: 0 @grid-gutter-width / 2;
    margin-bottom: 32px;
  }

  pre {
    margin: 16px 0;
    code {
      overflow: auto;
      word-wrap: normal;
      white-space: pre;
      font-size: .9em;
    }
  }

  .variant-a {
    border: 4px solid @brand-danger;
    &::before {
      content: 'Red Corner';
      left: 8px;
      color: @brand-danger;
      border-color: @brand-danger;
    }
  }
  .variant-b {
    border: 4px solid @brand-info;
    &::before {
      content: 'Blue Corner';
      right: 8px;
      color: @brand-info;
      border-color: @brand-info;
      border-bottom: none;
    }
  }

  .variant {
    position: relative;
    overflow: visible;
    &::before {
      position: absolute;
      top: -28px;
      font-size: 16px;
      font-weight: 600;
      background-color: @hr-border;
      border-radius: 4px 4px 0 0;
      border-width: 4px;
      border-style: solid;
      border-bottom: none;
      padding: 2px 8px 0;
    }
  }

  .title {
    font-weight: 600;
    font-size: 18px;
  }

  .post-progress {
    border-radius: 0;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
  }

  .comment {
    padding: 8px;
    margin-bottom: @line-height-computed;
    border: 1px solid @hr-border;
    border-radius: 4px;
    .meta {
      margin-top: 12px;
      .user {
        .text-warning;
      }

      time {
        .pull-right;
        .text-success;
        .small;
      }
    }

    .markdown {
      h1, h2, h3, h4, h5, h6 {
        font-size: @font-size-h4;
        margin: 8px 0;
      }

      pre {
        padding: 0 8px;
        code {
          line-height: 1;
          padding: 0;
        }
      }
    }
  }
}
