.welcome {
  .progress {
    margin-bottom: 0;
  }
  .table > thead > tr > th {
    text-align: center;
  }
  .table > tbody > tr > td {
    vertical-align: middle;
  }
}

.post-update {
  textarea {
    font-family: @font-family-monospace;
  }
}

.post-view {
  pre {
    margin: 16px 0;
  }

  h2 {
    margin-top: 0;
  }
}

.comment {
  padding: 8px;
  margin-bottom: @line-height-computed;
  border: 1px solid @hr-border;
  border-radius: 4px;
  .meta {
    margin-top: 12px;
    .user {
      .text-warning;
    }

    time {
      .pull-right;
      .text-success;
      .small;
    }
  }
}
