# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils


# block content
  <div class="page-header">
    <div class="pull-right">
      <a class="btn btn-default" href="{{url_for('post_update')}}" title="Add Post">
        <span class="fa fa-plus fa-fw"></span>
      </a>
      <a class="btn btn-primary" href="{{url_for('post_update', post_id=post_db.key.id())}}">
        <span class="fa fa-fw fa-pencil"></span> Edit
      </a>
    </div>
    <h1>
      {{utils.back_link('Back', 'post_list')}}
      {{title}}
      <small>{{post_db.language_key.get().name}}</small>
    </h1>
  </div>

  <h3>Variant A</h3>
  <pre>{{post_db.variant_a}}</pre>
  <h3>Variant B</h3>
  <pre>{{post_db.variant_b}}</pre>

  # set vote_dbs, vote_cursor = post_db.get_vote_dbs(limit=-1)
  <div class="{{'hide' if not vote_dbs|count}}">
    <h3>Vote List</h3>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr class="text-nowrap">
          <th class="col-xs-1">Post</th>
          <th class="col-xs-1">Variant</th>
          </tr>
        </thead>
        <tbody>
          # for vote_db in vote_dbs
            <tr class="row-link" id="{{vote_db.key.urlsafe()}}" data-href="{{url_for('vote_view', vote_id=vote_db.key.id())}}">
              <td>{{vote_db.post_key.get().title if vote_db.post_key else ''}}</td>
              <td>{{vote_db.variant}}</td>
            </tr>
          # endfor
        </tbody>
      </table>
    </div>
  </div>
# endblock
