# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils


# block header
  <div class="post-progress progress">
    <div class="progress-bar progress-bar-danger" style="width: {{100 * post_db.votes_a_percentage}}%"></div>
    <div class="progress-bar progress-bar-info" style="width: {{100 * post_db.votes_b_percentage}}%"></div>
  </div>
  <div class="page-header">
    <div class="container">
      <div class="pull-right">
        # if post_db.user_key.id() == current_user.id
          <a class="btn btn-primary" href="{{url_for('post_update', post_id=post_db.key.id())}}">
            <span class="fa fa-fw fa-pencil"></span> Edit
          </a>
        # endif
      </div>
      <h1 class="text-center">
        # set user_db = post_db.user_key.get()
        <img class="img-thumbnail" src="{{user_db.avatar_url_size(96)}}" width="48" height="48">
        {{post_db.title}}
        <small>
          {{post_db.language_key.get().name}}
          by {{user_db.name}}
        </small>
      </h1>
    </div>
  </div>

  <div class="code-split">
    <div class="row">
      <div class="col-md-6">
        <form class="text-center" action="{{url_for('post_vote', post_id=post_db.key.id(), variant='a')}}">
          <button class="btn {{'btn-success' if (vote_db and vote_db.variant == 'a') else 'btn-default'}}">
            <span class="fa fa-fw fa-arrow-up"></span>
            {{votes_a}}
          </button>
        </form>
        <pre class="variant-a"><code class="{{post_db.language_key.get().slug}}">{{post_db.variant_a}}</code></pre>
        <div class="post-votes">
          # for v_db in vote_dbs if v_db.variant == 'a'
            # set user_db = v_db.user_key.get()
            <img class="img-thumbnail" src="{{user_db.avatar_url_size(64)}}" width="32" height="32" title="{{user_db.name}}">
          # endfor
        </div>
      </div>
      <hr class="visible-xs visible-sm">
      <div class="col-md-6">
        <form class="text-center" action="{{url_for('post_vote', post_id=post_db.key.id(), variant='b')}}">
          <button class="btn {{'btn-success' if vote_db and vote_db.variant == 'b' else 'btn-default'}}">
            <span class="fa fa-fw fa-arrow-up"></span>
            {{votes_b}}
          </button>
        </form>
        <pre class="variant-b"><code class="{{post_db.language_key.get().slug}}">{{post_db.variant_b}}</code></pre>
        <div class="post-votes">
          # for v_db in vote_dbs if v_db.variant == 'b'
            # set user_db = v_db.user_key.get()
            <img class="img-thumbnail" src="{{user_db.avatar_url_size(64)}}" width="32" height="32" title="{{user_db.name}}">
          # endfor
        </div>
      </div>
    </div>
  </div>
# endblock

# block content
  <div class="anchor" id="comments"></div>
  <div class="row">
    <div class="col-md-offset-2 col-sm-8">
      # for comment_db in post_db.get_comment_dbs(limit=-1, order='created')[0]
        <div class="comment">
          <div class="content">
            # for line in comment_db.content.split('\n')
              <p>{{line}}</p>
            # endfor
          </div>
          <div class="meta">
            <time datetime="{{comment_db.created}}">
              {{comment_db.created.strftime('%Y-%m-%d')}}
            </time>
            <div class="user">
              # set user_db = comment_db.user_key.get()
              <img src="{{user_db.avatar_url_size(96)}}" width="18" height="18">
              {{user_db.name}}
            </div>
          </div>
        </div>
      # endfor
      <form method="POST" action="." novalidate>
        {{form.csrf_token}}
        # if form.content.errors
          <div class="form-group {{'has-error' if form.content.errors}}">
            {{form.content(class='form-control', rows=4, autofocus=True)}}
            {{forms.field_errors(form.content)}}
          </div>
        # else
          <div class="form-group">
            {{form.content(class='form-control', rows=4)}}
            <p class="help-block">Plain text only, markdown support is coming soon! Be gentle :)</p>
          </div>
        # endif
        <button type="submit" class="btn btn-primary btn-block btn-loading" {{forms.data_loading_text()}}>
          Comment
        </button>
      </form>
    </div>
  </div>
# endblock
