# extends 'base.html'
# import 'macro/utils.html' as utils

# block head
  {{utils.prefetch_link(next_url)}}
# endblock

# block content
  <div class="page-header">
    <a class="pull-right btn btn-primary" href="{{url_for('post_update')}}">
      <fa class="fa fa-plus fa-fw"></fa> Add Post
    </a>
    <h1>{{title}}</h1>
  </div>
  <div class="table-responsive {{'hide' if not post_dbs|count}}">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr class="text-nowrap">
          <th class="col-xs-1">{{utils.order_by_link('user_key', 'User')}}</th>
          <th class="col-xs-2">{{utils.order_by_link('title', 'Title')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('language_key', 'Language')}}</th>
          <th class="col-xs-4">{{utils.order_by_link('variant_a', 'Variant A')}}</th>
          <th class="col-xs-4">{{utils.order_by_link('variant_b', 'Variant B')}}</th>
        </tr>
      </thead>
      <tbody>
        # for post_db in post_dbs
          <tr class="row-link" id="{{post_db.key.urlsafe()}}" data-href="{{url_for('post_view', post_id=post_db.key.id())}}">
            <td class="text-nowrap">
              # set user_db = post_db.user_key.get()
              <img src="{{user_db.avatar_url_size(36)}}" width="18" height="18">
              {{user_db.name}}
            </td>
            <td class="ellipsis">{{post_db.title}}</td>
            <td>{{post_db.language_key.get().name if post_db.language_key else ''}}</td>
            <td class="ellipsis">{{post_db.variant_a}}</td>
            <td class="ellipsis">{{post_db.variant_b}}</td>
          </tr>
        # endfor
      </tbody>
    </table>
  </div>

  {{utils.next_link(next_url)}}
# endblock
