# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils


# block content
  <div class="page-header">
    <div class="pull-right">
      # if post_db.user_key.id() == current_user.id
        <a class="btn btn-primary" href="{{url_for('post_update', post_id=post_db.key.id())}}">
          <span class="fa fa-fw fa-pencil"></span> Edit
        </a>
      # endif
    </div>
    <h1>
      # set user_db = post_db.user_key.get()
      <img src="{{user_db.avatar_url_size(96)}}" width="32" height="32">
      {{title}}
      <small>{{post_db.language_key.get().name}}</small>
      <small>
        by
        {{user_db.name}}
      </small>
    </h1>
  </div>

  <div class="row">
    <div class="col-xs-2">
      {{vote_db}}
      <form action="{{url_for('post_vote', post_id=post_db.key.id(), variant='a')}}">
        <button class="btn {{'btn-success' if (vote_db and vote_db.variant == 'a') else 'btn-default'}}">
          <span class="fa fa-fw fa-arrow-up"></span>
          {{votes_a}}
        </button>
      </form>
    </div>
    <div class="col-xs-10 text-right">
      <h3>Variant A</h3>
    </div>
  </div>
  <pre>{{post_db.variant_a}}</pre>
  <hr>
  <div class="row">
    <div class="col-xs-2">
      <form class="form-inline" action="{{url_for('post_vote', post_id=post_db.key.id(), variant='b')}}">
        <button class="btn {{'btn-success' if vote_db and vote_db.variant == 'b' else 'btn-default'}}">
          <span class="fa fa-fw fa-arrow-up"></span>
          {{votes_b}}
        </button>
      </form>
    </div>
    <div class="col-xs-10 text-right">
      <h3>Variant B</h3>
    </div>
  </div>
  <pre>{{post_db.variant_b}}</pre>

  <hr>

  <p class="text-center">
    <a class="btn btn-primary" href="{{url_for('welcome')}}">View All Posts</a>
  </p>
# endblock
