# extends 'base.html'
# import 'macro/utils.html' as utils

# block header
  <div class="jumbotron">
    <div class="container text-center">
      <h1>{{config.CONFIG_DB.brand_name}}</h1>
      <p>Start voting for your favorite version of code. ;-)</p>
      <a class="btn btn-lg btn-primary" href="{{url_for('post_update')}}">
        <fa class="fa fa-code fa-fw"></fa> Submit Code
      </a>
    </div>
  </div>
# endblock

# block content
  <div class="table-responsive {{'hide' if not post_dbs|count}}">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr class="text-nowrap">
          <th class="col-xs-1">{{utils.order_by_link('votes', 'Votes')}}</th>
          <th class="col-xs-3">{{utils.order_by_link('title', 'Title')}}</th>
          <th>{{utils.order_by_link('language_key', 'Language')}}</th>
          <th class="col-xs-4">Variant A</th>
          <th class="col-xs-4">Variant B</th>
          <th>{{utils.order_by_link('created', 'Created')}}</th>
        </tr>
      </thead>
      <tbody>
        # for post_db in post_dbs
          <tr class="row-link" id="{{post_db.key.urlsafe()}}" data-href="{{url_for('post_view', post_id=post_db.key.id())}}">
            <td class="text-center h4">
              {{post_db.votes}}<br>
              <div class="progress">
                <div class="progress-bar progress-bar-danger" style="width: {{100 * post_db.votes_a_percentage}}%">
                </div>
                <div class="progress-bar progress-bar-info" style="width: {{100 * post_db.votes_b_percentage}}%">
                </div>
              </div>
            </td>
            <td>
              # set user_db = post_db.user_key.get()
              <img src="{{user_db.avatar_url_size(36)}}" width="14" height="14"> {{post_db.title}}<br>
              <small class="text-muted">
                by {{user_db.name}}
              </small>
            </td>

            <td class="text-center">{{post_db.language_key.get().name}}</td>
            <td class="ellipsis">{{post_db.variant_a}}</td>
            <td class="ellipsis">{{post_db.variant_b}}</td>
            <td class="text-nowrap text-center">
              <time class="small" datetime="{{post_db.created}}">
                {{post_db.created.strftime('%Y-%m-%d')}}
              </time>
            </td>
          </tr>
        # endfor
      </tbody>
    </table>
  </div>

  {{utils.next_link(next_url)}}
# endblock
